.banner {
  position: relative;
  min-height: calc( 100vh - 84px );
  background: linear-gradient(89.03deg, #FFFFFF 0.42%, rgba(255, 255, 255, 0) 83.12%), url("../../public/images/bg-banner.png") top left no-repeat;
  background-size: 100% 100%;
  padding-top: 84px;

  .banner-inner {
    min-height: calc( 100vh - 84px );
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 154.9%;
    color: #272727;
    width: 810px;
    margin-bottom: 30px;

    span {
      font-weight: 600;
      color: #F08D31;
      display: block;
    }
  }

  .check {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 154.9%;
    color: #272727;
    margin-bottom: 35px;
  }

  .button {
    margin-top: 14px;
    background: #F08D31;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 21px;
    display: inline-block;
    width: 427px;
    margin-bottom: 40px;
    &:hover {
      background: #FDA24D;
    }
    .btn {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 154.9%;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 17px 57px;
      box-shadow: none !important;
      outline: none !important;
    }
  }

  .discount {
    position: absolute;
    right: 0;
    bottom: 51px;
    background: linear-gradient(270deg, #FFFFFF 0%, #F4F4F4 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    max-width: 650px;
    width: 100%;
    padding: 41px 0 36px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    .poligon {
      position: absolute;
      right: 0;
      top: -18px;
      width: 209px;
      height: 36px;
      background-color: red;
      clip-path: polygon(23px 0, 100% 0, 100% 100%, 23px 100%, 0 50%);
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 171.9%;
        text-align: center;
        letter-spacing: 0.075em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: 23px;
      }
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 21px;
      line-height: 171.9%;
      text-align: center;
      color: #272727;
      width: 507px;
      margin: 0 auto 24px auto;
      span {
        font-weight: bold;
        font-size: 21px;
        color: #F08D31;
      }
    }

    .button {
      background: #F08D31;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      border-radius: 21px;
      display: inline-block;
      width: 329px;
      margin: 0;
      &:hover {
        background: #FDA24D;
      }
      .btn {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 154.9%;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 14px 48px;
        box-shadow: none !important;
        outline: none !important;
      }
    }
  }
}
