.examples {
  padding-top: 70px;
  padding-bottom: 113px;
  overflow: hidden;

  .title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 154.9%;
    color: #272727;
    margin-bottom: 53px;
    max-width: 1034px;
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    position: relative;
    outline: none;
    margin: 85px 0 100px 0;
    z-index: -1;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.55);
  }

  .slick-center {
    transition: .3s;
    transform: scale(1.5);
    z-index: 9;
    position: relative;
  }

  ///slick-prev slick-next

  .slick-prev:before, .slick-next:before {
    font-size: 0;
  }

  .slick-prev.slick-arrow {
    left: 66.4%;
  }

  .slick-next {
    right: 22.4%;
  }

  .slick-prev, .slick-next {
    bottom: -8%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #202020;;
    outline: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: "";
      height: 61px;
      width: 61px;
      border-radius: 50%;
      background: transparent;
      border: 1px solid #D4AC89;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .slick-prev:active, .slick-next:active, .slick-prev:hover, .slick-next:hover {
    span {
      z-index: 3;
      color: #FFFFFF;
    }
    &:after {
      background: #F08D31;
      border: 1px solid #F08D31;
    }
  }

  .examples-slider {
    outline: none !important;
  }

  .button {
    background: #F08D31;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 21px;
    width: 427px;
    display: inline-block;
    height: 59px;
    margin: 36px auto 0;
    &:hover {
      background: #FDA24D;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
    .btn {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 154.9%;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 17px 156px;
      box-shadow: none !important;
      outline: none !important;
    }
  }
}