.plaster {
  background: linear-gradient(0deg, rgba(240, 141, 49, 0.89), rgba(240, 141, 49, 0.89)), url("../../public/images/bg-plaster.png") top left no-repeat;
  background-size: cover;
  padding: 69px 0 84px 0;
  position: relative;

  .title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 154.9%;
    color: #FFFFFF;
    margin-bottom: 54px;
  }

  .image {
    max-width: 159px;
    max-height: 159px;
  }

   p {
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 154.9%;
     text-align: center;
     color: #FFFFFF;
     max-width: 270px;
     margin: 35px auto 0;
   }

  .image-left {
    max-width: 18%;
    position: absolute;
    top: 58%;
    left: 24.8%;
  }

  .image-right {
    max-width: 18%;
    position: absolute;
    top: 58%;
    right: 24.8%;
  }

  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 40px;

    .image-right, .image-left {
      display: none;
    }

    .title {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 768px) {
    .title {
      font-size: 38px;
      line-height: 128.9%;
    }
  }

  @media (max-width: 767px) {
    .item {
      margin-bottom: 30px;
    }

    p {
      margin: 20px auto 0;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 25px;
      line-height: 128.9%;
    }
  }
}