.thanks {
  min-height: 100vh;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 154.9%;
    text-align: center;
    text-transform: uppercase;
    color: #272727;
    margin: 0 auto 41px auto;
    max-width: 648px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 154.9%;
    text-align: center;
    color: #272727;
    max-width: 580px;
    margin: 0 auto 31px auto;
  }

  .social a {
    text-decoration: none;
    color: #272727;
  }
}